---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Heading from '../components/Heading.astro';
import Text from '../components/Text.astro';
import SidebarLayout from './SidebarLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<SidebarLayout title={title} description={description}>
	<article>
		{heroImage && (
			<div class="mb-8">
				<Image
					width={1020}
					height={510}
					src={heroImage}
					alt=""
					class="rounded-xl shadow-md"
				/>
			</div>
		)}
		<div class="mb-8 border-b border-mist-200 dark:border-mist-800 pb-8">
			<Text size="sm" class="mb-2">
				<FormattedDate date={pubDate} />
				{updatedDate && (
					<span class="italic">
						 · Last updated on <FormattedDate date={updatedDate} />
					</span>
				)}
			</Text>
			<Heading>{title}</Heading>
		</div>
		<div class="prose prose-mist dark:prose-invert max-w-none">
			<slot />
		</div>
	</article>
</SidebarLayout>
